[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
tox = "*"

[packages]
websocket-client = "*"
typing-extensions = "*"

[requires]
python_version = "3.8"

[scripts]
tests = "pytest -v"
test-cov = "pytest -v --cov=weatherlib --cov-report=html"
